---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$brand-color:      #4179a1;
$background-color: #dedede;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin retina-query() {
  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @content;
  }
}


/* Applies vendor prefixes to $prop. */
@mixin v($prop, $args) {
  -webkit-#{$prop}: $args;
     -moz-#{$prop}: $args;
      -ms-#{$prop}: $args;
       -o-#{$prop}: $args;
          #{$prop}: $args;
}


/* Animations */

@keyframes shiftUp {
  0%   { opacity: 0; transform: translateY(50px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@-moz-keyframes shiftUp {
  0%   { opacity: 0; -moz-transform: translateY(50px); }
  100% { opacity: 1; -moz-transform: translateY(0px); }
}

@-webkit-keyframes shiftUp {
  0%   { opacity: 0; -webkit-transform: translateY(50px); }
  100% { opacity: 1; -webkit-transform: translateY(0px); }
}

@keyframes shiftDown {
  0%   { opacity: 0; transform: translateY(-50px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@-moz-keyframes shiftDown {
  0%   { opacity: 0; -moz-transform: translateY(-50px); }
  100% { opacity: 1; -moz-transform: translateY(0px); }
}

@-webkit-keyframes shiftDown {
  0%   { opacity: 0; -webkit-transform: translateY(-50px); }
  100% { opacity: 1; -webkit-transform: translateY(0px); }
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
