/* The body borders */

#body-border-bottom,
#body-border-left,
#body-border-right {
  background: #fff;
  position: fixed;
  z-index: 1000;
}

#body-border-left,
#body-border-right {
  top: 0;
  bottom: 0;
  width: 1em;
}

#body-border-left { left: 0; }
#body-border-right { right: 0; }

#body-border-bottom {
  left: 0;
  right: 0;
  bottom: 0;
  height: 1em;
}


/**
 * Site header
 */
.site-header {
  background-color: #fff;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

%site-header-link {
  transition: box-shadow 0.2s linear;

  &:hover {
    box-shadow: inset 0 -3px 0 $brand-color;
    text-decoration: none;
  }
}

.site-title {
  @extend %site-header-link;
  background: url(/img/logo.png) no-repeat center center;
  background-size: 148px 33px;
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  text-indent: -3000em;
  width: 170px;

  @include retina-query() {
    background-image: url(/img/logo@2x.png);
  }
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    @extend %site-header-link;
    color: $brand-color;
    line-height: 56px;
    padding: 1em 0.7em 1.1em;
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: #fff;
    border: 1px solid $brand-color;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 34px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $brand-color;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px 5px 20px;
      line-height: 24px;

      &:hover {
        background-color: $background-color;
        box-shadow: none;
      }
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background-color: #fff;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0 0;
}

#top-btn {
  position: relative;
  left: 50%;
  top: -50px;
  margin-left: -20px;

  border-radius: 50%;
  display: block;
  float: left;
  width: 40px;
  height: 40px;
  background: #eee;
  transition: box-shadow 0.3s;

  text-align: center;
  line-height: 40px;
  font-size: 0.75em;
  text-transform: uppercase;

  &:hover {
    box-shadow: 0 1px 2px #555;
  }
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.footer-list {
  list-style: none;
  margin-left: 0;

  a:visited {
    color: $brand-color;
  }

  li {
    line-height: 2em;
  }
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-right: $spacing-unit;
  min-width: 150px;
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
  }
}

#copyright {
  color: $grey-color;
  font-size: 0.75em;
}



/**
 * Homepage
 */
#home {
  background-color: $background-color;
}

#hero {
  background: url(/img/newyork.jpg) no-repeat center center / cover;
  display: table;
  height: 100%;
  width: 100%;
}

  #hero-content {
    background: rgba($brand-color,.8);
    color: #fff;
    display: table-cell;
    padding: 3.5em 0 15%;
    vertical-align: middle;

    h2 {
      @include v(animation, shiftUp .5s .2s ease-out);
      text-shadow: 0 2px 3px #444;
    }
  }

    .hero-btn {
      @include v(animation, shiftUp .5s .3s ease-out);
      background-color: rgba(255,255,255,.1);
      border-radius: 0.25em;
      border: 1px solid #fff;
      box-shadow: 0 1px 3px #454545;
      color: #fff;
      display: inline-block;
      margin: 3em auto 0;
      padding: 0.5em 1.5em;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s;
      width: auto;

      &:visited {
        color: #fff;
      }

      &:hover {
        background-color: #fff;
        box-shadow: 0 2px 3px #333;
        color: $brand-color;
        text-decoration: none;
        transform: translateY(-1px);
      }

      &:active {
        transform: translateY(0);
      }

      & + .hero-btn {
        margin-left: 2em;
      }
    }

      @include media-query($on-palm) {
        .hero-btn {
          display: block;
          margin: 2em 0;

          & + .hero-btn {
            margin-left: 0;
          }
        }
      }

    #home-more {
      background-color: $brand-color;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: $brand-color;
        text-decoration: none;
      }
    }

#home-content {
  display: block;
  position: relative;
  top: -35%;
}

.home-card {
  @include v(animation, shiftUp);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 4px darken($brand-color, 15%);
  font-size: 0;
  position: relative;
  top: -15%;
  margin: 0 auto;
  padding: 1.5rem;
  width: 90%;

  & + .home-card {
    margin-top: 1.5rem;
  }

  h1 {
    color: $brand-color;
  }
}

  @for $i from 1 through 3 {
    #home-card-#{$i} {
      @include v(animation-duration, 600ms);
      @include v(animation-delay, 200ms * $i);
    }
  }

  .home-card-img {
    border: 2px solid $brand-color;
    border-radius: 50%;
    display: inline-block;
    font-size: 1rem;
    height: 120px;
    width: 120px;
    margin-right: 1.5em;
    vertical-align: top;
  }

  .home-card-text {
    display: inline-block;
    font-size: 1rem;
    width: calc(100% - 120px - 1.5em);
    vertical-align: top;
  }

    @include media-query($on-palm) {
      .home-card-img {
        display: block;
        margin: 0 auto 1.5em;
      }

      .home-card-text {
        display: block;
        width: 100%;
      }
    }

  #more-btn {
    margin-top: -3em;
    text-align: center;
  }

    #learn-more {
      background-color: $brand-color;
      border-radius: 0.25em;
      box-shadow: 0 1px 2px #999;
      color: #fff;
      display: inline-block;
      margin: 0 auto 3em;
      padding: 0.5em 1.5em;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s;
      width: auto;

      &:visited {
        color: #fff;
      }

      &:hover {
        background-color: #fff;
        box-shadow: 0 2px 3px #888;
        color: $brand-color;
        text-decoration: none;
        transform: translateY(-1px);
      }

      &:active {
        transform: translateY(0);
      }
    }



/**
 * Developer Resources page
 */
 #dev-resources {
  font-size: 0;
 }

  .dev-col {
    display: inline-block;
    font-size: 1rem;
    width: 50%;
    vertical-align: top;

    a {
      display: block;
    }

    &:first-child {
      padding-right: 1.25em;
    }

    &:last-child {
      padding-left: 1.25em;
    }

    @include media-query($on-palm) {
      display: block;
      width: 100%;

      & + .dev-col {
        margin-top: 2em;
      }

      &:first-child,
      &:last-child {
        padding: 0;
      }
    }
  }


/**
 * Media kit
 */
#team,
#assets {
  text-align: center;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

#team {
  margin-bottom: 3em;
  max-width: 500px;
  margin: 0 auto;

  h1 {
    margin-bottom: 2em;
  }
}

  .team-member {
    display: inline-block;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 1px 4px darken($brand-color, 15%);
    padding: 0.5em 1em;
    margin: 0 1em 4em;
    width: 200px;

    img {
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      box-shadow: 0 1px 4px #555;
      margin: -2.5em auto 1.5em;
    }

    h1 {
      font-size: 1.25em !important;
      margin-bottom: 0.5em !important;
    }

    h2 {
      font-size: 0.85em !important;
    }
  }

#assets-text {
  text-align: left;

  p {
    font-size: 0.9em;
  }
}

  #logo-samples {
    margin-bottom: 1em;
  }


/**
 * Page content
 */
.page-content {
  background-color: $background-color;
  padding: 5.5em 0 $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  border-bottom: 1px solid $brand-color;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;
  padding-bottom: 0.5em;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
