/* The body borders */

#body-border-top,
#body-border-bottom,
#body-border-left,
#body-border-right {
  background: #fff;
  position: fixed;
  z-index: 1000;
}

#body-border-left,
#body-border-right {
  top: 0;
  bottom: 0;
  width: 1em;
}

#body-border-left { left: 0; }
#body-border-right { right: 0; }

#body-border-top,
#body-border-bottom {
  left: 0;
  right: 0;
  height: 1em;
}

#body-border-top { top: 0; }
#body-border-bottom { bottom: 0; }


/**
 * Site header
 */
.site-header {
  background-color: #fff;
  min-height: 56px;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}

.site-title {
  background: $brand-color url(/img/logo_white.png) no-repeat center center;
  background-size: auto 60%;
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  text-indent: -3000em;
  width: 170px;
}

.site-nav {
  float: right;
  line-height: 56px;

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $brand-color;
    padding: 1em 0.7em;
    transition: box-shadow 0.2s linear;

    &:hover {
      box-shadow: inset 0 -3px 0 $brand-color;
      text-decoration: none;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-color-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  background-color: #fff;
  border-top: 1px solid $grey-color-light;
  padding: $spacing-unit 0 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Homepage
 */
#home {
  background-color: $background-color;
}

#hero {
  background: url(/img/newyork.jpg) no-repeat center center / cover;
  display: table;
  height: 100%;
  width: 100%;
}

  #hero-content {
    background: rgba($brand-color,.8);
    color: #fff;
    display: table-cell;
    padding: 1em 0 15%;
    vertical-align: middle;

    h2 {
      text-shadow: 0 2px 3px #444;
    }
  }

    .hero-btn {
      background-color: rgba(255,255,255,.1);
      border-radius: 0.25em;
      border: 1px solid #fff;
      box-shadow: 0 2px 3px #454545;
      color: #fff;
      display: inline-block;
      margin: 3em auto 0;
      padding: 0.5em 1.5em;
      text-align: center;
      text-decoration: none;
      transition: background-color 0.3s, box-shadow 0.3s, color 0.3s, transform 0.3s;
      width: auto;

      &:visited {
        color: #fff;
      }

      &:hover {
        background-color: #fff;
        box-shadow: 0 3px 4px #333;
        color: $brand-color;
        text-decoration: none;
        transform: translateY(-1px);
      }

      & + .hero-btn {
        margin-left: 2em;
      }
    }

      @include media-query($on-palm) {
        .hero-btn {
          display: block;
          margin: 2em 0;

          & + .hero-btn {
            margin-left: 0;
          }
        }
      }


    #home-more {
      background-color: $brand-color;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: $brand-color;
        text-decoration: none;
      }
    }

.home-card {
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  top: -15%;
  margin: 0 auto;
  padding: 1em;
  width: 80%;

  & + .home-card {
    margin-top: 1.5em;
  }

  h1 {
    color: $brand-color;
  }
}



/**
 * Page content
 */
.page-content {
  background-color: $background-color;
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  font-size: 24px;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }
}
