<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div id="hero">
      <div id="hero-content">
        <div id="hero-logo">Sherlocke: Powered by IBM Watson</div>
        <h2>A smarter research tool for the modern age.</h2>
        <a id="hero-more" href="/blog/" title="See what's happening">Development Blog</a>
      </div>
    </div>

    <!-- {% include header.html %}

    <div class="page-content" id="home-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
 -->
  </body>

</html>
