<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="home">

    {% include header.html %}

    <div id="hero">
      <div id="hero-content">
        <div class="wrapper">
          <h2>A smarter research tool for the modern age.</h2>
          <a class="hero-btn" href="#home-about" title="Interested?">Learn more</a>
          <a class="hero-btn" href="/blog/" title="See what's happening">Development Blog</a>
        </div>
      </div>
    </div>

    <section class="home-card wrapper" id="home-about">
      <h1>Find things before you've<br>realized what to look for</h1>
      <p>Sleep on keyboard roll on the floor purring your whiskers off sit in box chase imaginary bugs. Lick butt chew foot find something else more interesting sweet beast, and rub face on everything, for under the bed, or cat snacks. Spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce. Scamper i like big cats and i can not lie and hopped up on catnip, and plan steps for world domination. Roll on the floor purring your whiskers off rub face on everything meow all night having their mate disturbing sleeping humans kick up litter why must they do that, yet sleep on keyboard, and leave hair everywhere.</p>
    </section>

    <section class="home-card wrapper" id="home-learn">
      <h1>Learns as your learn</h1>
      <p>Present belly, scratch hand when stroked. Scamper leave dead animals as gifts, so bathe private parts with tongue then lick owner's face bathe private parts with tongue then lick owner's face and under the bed, so intently stare at the same spot. Meowing non stop for food hopped up on catnip. Cat snacks hide when guests come over, but sweet beast, for pooping rainbow while flying in a toasted bread costume in space and scamper or sun bathe. Meow all night having their mate disturbing sleeping humans sweet beast find something else more interesting. Sleep on keyboard. Kick up litter play time find something else more interesting.</p>
    </section>

    {% include footer.html %}

  </body>

</html>
